body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.table{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11pt;
	line-height:1.2;
	padding: 4px 4px 4px 4px;
	
}
.link {
    color: blue;
}


td {
	padding: 4px 4px 4px 4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
	
}


div.erfordert{
  display: block;
  clear:left;
  margin-bottom:2px;
 }

.zf-green {
	color: #68b604;
}

.btn-success {
	background-color: #57a900;
	background-image: -moz-linear-gradient(top, #70d900, #57a900);
	background-image: -ms-linear-gradient(top, #70d900, #57a900);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900),
		to(#57a900));
	background-image: -webkit-linear-gradient(top, #70d900, #57a900);
	background-image: -o-linear-gradient(top, #70d900, #57a900);
	background-image: linear-gradient(top, #70d900, #57a900);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900',
		endColorstr='#57a900', GradientType=0);
}

.btn-success:hover, .btn-success:active, .btn-success.active,
	.btn-success.disabled, .btn-success[disabled] {
	background-color: #57a900;
}

.btn-success:active, .btn-success.active {
	background-color: #57a900;
}

div.container a.brand {
	background: url("/img/zf2-logo.png") no-repeat scroll 0 10px
		transparent;
	margin-left: 0;
	padding: 8px 20px 12px 40px;
	font-size:12pt;
	
}


ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 3px 10px;
    font-size:9pt;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    }

.pagination li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.dialogClass a {
    color: #0080ff;
    float: left;
    padding: 3px 10px;
    font-size:9pt;
    text-decoration: none;
    transition: background-color .3s;
}

.dialogClass a:hover{background-color: #0080c0;color: #ffffff;}

.ui-menu { width: 250px; border: none}

  .ui-widget-header { padding: 0.2em; }

.ui-button,  .ui-button-text .ui-button{  
font-size: 10pt !important; 
}